@use '@angular/material' as mat;

// 1. Definición del tema en modo OSCURO
$my-theme: mat.define-theme((
  color: (
    theme-type: dark,      // <--- CAMBIADO A DARK
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (
    scale: 0
  ),
));


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));
}

html {
  height: 100%;
  // Aplicamos el tema a nivel global
  @include mat.all-component-themes($my-theme);
  @include mat.system-level-colors($my-theme);
  @include mat.system-level-typography($my-theme);
}

body {
  margin: 0;
  height: 100%;

  // Esto le dice al navegador que renderice barras de desplazamiento oscuras, etc.
  color-scheme: dark;

  // Usamos las variables de sistema que genera Material 3
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Roboto', sans-serif;


  .title{
    font-size:1.5rem;
    color:var(--mat-sys-primary);
  }
}


// Fondo del menu para resaltar opciones
.menu-backdrop{
  background-color: color-mix(in srgb, var(--mat-sys-background), transparent 10%);
}

/*
Variable CSSDescripciónvar(--mat-sys-primary)El cian vibrante principal
.var(--mat-sys-primary-container)El cian suave/oscuro (ideal para fondos de botones o toolbars)
.var(--mat-sys-on-primary-container)El color de texto que mejor contrasta con el suave.
*/
